<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IndraBank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Institucional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Banco Indra pra Você</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cartões</a>
      </li>      
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-2">
        <button type="submit" routerLink="/account-access" class="btn btn-primary">Acessar Conta</button>
      </li>
      <li class="nav-item">
        <button type="submit" routerLink="/client-register" class="btn btn-primary">Criar Conta</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
