<div class="container">
  <form class="mt-5" [formGroup]="newUserForm" (ngSubmit)="sendData()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="number" class="form-control" formControlName="cpf">
    </div>
    <div class="form-group">
        <label for="telephone">Celular</label>
        <input type="tel" class="form-control" formControlName="telephone">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
        <label for="birthday">Data de Nascimento</label>
        <input type="date" class="form-control" formControlName="birthday">
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
        <label for="passwordConfirm">Confirmação de Senha</label>
        <input type="password" class="form-control" formControlName="passwordConfirm">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Aceitação dos termos</label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Desejo receber mais informações sobre investimento via SMS ou email</label>
      </div>
    <button [disabled]="!newUserForm.valid" class="btn btn-primary">Criar Conta</button>

    <br>
    <br>

    <div>{{ newUserForm.value | json}}</div>
    <div>{{ newUserForm.valid | json }}</div>
  </form>
</div>

